* {
  box-sizing: border-box;
}

html{
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  font-size: calc(calc(0.35vh + 0.35vw) + 10px);
  tap-highlight-color:  rgba(255, 255, 255, 0);   
}
body{
  height: 100%;
  margin: 0;
  padding: 0;
  background: thistle;
}

main {
  position: fixed;
  height: 98%;
  width: 85%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin: 0;
  padding: 0;  
  font-family: helvetica, arial, sans-serif;
  box-shadow: 10px 10px 30px gray;
  border-radius: 0.5rem;
  background:  hsla(258, 32%, 50%, 1.00);
  overflow: hidden;
}

footer{
  position: fixed;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  bottom: 0;
  text-align: center;
  background-color: lightgray;
  z-index: 3;  
}
button{
  margin: 0.5rem;
  font-size: 1.5rem;
  outline: none;
  border-radius: 0.25rem;
  cursor: pointer;
}
button:hover{
  color: black;
  background: white;
}
.btnOut{
  box-shadow: 3px 3px 3px black;
  background-color: white;
  color: gray;
  text-shadow: 0 1px 0 black;  
}
.btnIn{
  box-shadow: inset 3px 3px 3px black;
  background-color: lightgray;
  color: black;
  text-shadow: 0 1px 0 white;
}

#btnHolder{
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);  
}

#shroud{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.75s ease;
  opacity: 0;
  background-color: rgb(100, 100, 100);
  visibility: hidden;
  overflow: hidden;
}
#btnHideShroud{
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: red;
  font-size: 2rem;
  font-weight: bold;
  height: 3.2rem;
  width: 3.2rem;
  text-align: center;
  border-radius: 50%;
  box-shadow:  0 0 15px black;
  cursor: pointer;
  line-height: 1.5;
  text-shadow: 0 1px 0 lightgray;
  background: linear-gradient(45deg, lightblue, lightgray);
}

#messageHolder{
  position: absolute;
  height: 90%;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.85rem;
}

#popupHolder{
  position: fixed;
  padding: 2rem;
  width:75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.85rem;
  box-shadow: 0 0 1.5rem black;
  background: #ddd;
  text-align: center;
  opacity: 0.85;
  visibility: hidden;
  font-size: 1.5rem;
  text-shadow: 0 1px 0 white;
}
