* {
  box-sizing: border-box;
}

html{
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  font-size: calc(calc(0.35vh + 0.35vw) + 10px);
  tap-highlight-color:  rgba(255, 255, 255, 0);   
  user-select: none;
}
body{
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;  
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: thistle;
  text-align: center;
  font-family: sans-serif;
}
main{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
footer{
  position: fixed;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  bottom: 0;
  text-align: center;
  background-color: lightgray;
  z-index: 3;  
}

button{
  margin: 0.5rem;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

#shroud{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 2s ease;
  opacity: 0.97;
  background: teal url(https://cdn.glitch.com/d2329b5c-8285-49d9-a412-4910e578e50e%2Fset175-175.jpg?1505007541585) no-repeat center;
  background-size: 30rem 30rem;
  visibility: visible;
  overflow: hidden;
}
#nameInput{
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
#btnHideShroud{
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  height: 3rem;
  width: 3rem;
  text-align: center;
  line-height: 1.5;
  color: red;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: 0 0 10px black;
  border-radius: 50%;
  background: linear-gradient(-45deg,lightblue,white,lightblue);
}

#offlineMessage{
  color: transparent;
  font-size: 2rem;
}

#messageText{
  display: inline-block;
  font-size: 2.75rem;
  color: black;
  font-weight: bold;
  text-shadow: 0 1px 0 white;
  border-radius: 1rem;
  padding: 1rem;
  background: linear-gradient(lightgray, lightblue, hsl(250, 50%, 50%));
  box-shadow: 0.5rem 0.5rem 2.5rem black;
}

/*============| player styles |=============*/
.player{
  position: relative;
  text-align: center;
  margin-bottom: 0.75rem;
  width: 98%;
  left: 50%;
  transform: translateX(-50%);
  height: 21%;/*120px;*/
  border-radius: 0.75rem;
  box-shadow: 0.1rem 0.1rem 0.3rem black;
  padding: 0.5rem;
  background: lightblue;
}
.controls{
  width: 100%;
}

.button{
  display: inline-block;
  width: 47%;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2;
  border-radius: 0.25rem;
  margin-top: 0.25rem; 
  cursor: pointer;    
}
.buttonHolder{
  position: absolute;
  width: 30%;
  left: 50%;
  transform: translateX(-50%);
}
.btnPlus{
  float: left;
  
}

.btnMinus{
  float: right
}

.btnOut{
  font-size: 1.55rem;   
  box-shadow: 0.1rem 0.1rem 0.2rem black;
  background: #eee;  
}

.btnIn{
  font-size: 1.5rem;  
  box-shadow: inset 0.1rem 0.1rem 0.2rem black;
  background: lightgray;
}
input{
  text-align: center;
  font-size: 1.2rem;
}
input[type=text]{
  display: inline-block;  
  width: 90%;
  background: #d8d8d8;
  font-weight: bold;
  text-shadow: 0  1px 0 white;
  font-size: 1.75rem;  
}
input[type=number]{
  display: inline-block;  
  width: 32%;
  font-weight: bold;
  margin-top: 0.25rem;
}
