* {
  box-sizing: border-box;
}

html{
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  font-size: calc(calc(0.35vh + 0.35vw) + 10px);
  tap-highlight-color:  rgba(255, 255, 255, 0);   
}
body{
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;  
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: thistle;
  text-align: center;
  font-family: sans-serif;
}

footer{
  position: fixed;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  bottom: 0;
  text-align: center;
  background-color: lightgray;
  z-index: 3;  
}

button{
  margin: 0.5rem;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

#shroud{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 1s ease;
  opacity: 0.97;
  /*background-color: rgb(100, 100, 100);*/
  background: teal url(https://cdn.glitch.com/d2329b5c-8285-49d9-a412-4910e578e50e%2Fset175-175.jpg?1505007541585) no-repeat center;
  background-size: 30rem 30rem;
  visibility: visible;
  overflow: hidden;
}

#offlineMessage{
  opacity: 0;
  color: red;
  font-size: 2rem;
}